<main>
  <div class="view" id="intro" *ngIf="!currentUser">
    <div class="mask flex-center waves-effect waves-light rgba-indigo-light"></div>

    <div class="container h-100">
      <div class="row align-items-center h-100">
        <div class="col-6 mx-auto p-0">
          <div class="card h-100  justify-content-center">
            <h5 class="card-header
            info-color-dark
            white-text text-center py-4">
              <strong>Sign in</strong>
            </h5>

            <div class="card-body p-0">
              <!-- Default form login -->
              <form class="text-center p-4" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <!-- Login -->
                <div class="md-form">
                  <input type="text" id="materialLoginFormUsername" class="form-control" formControlName="username"
                         mdbInput [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
                  <label for="materialLoginFormUsername">Username</label>

                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                  </div>
                </div>

                <!-- Password -->
                <div class="md-form">
                  <input type="password" id="materialLoginFormPassword" class="form-control" formControlName="password"
                         mdbInput [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                  <label for="materialLoginFormPassword">Password</label>

                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                  </div>
                </div>

                <!-- Remember me container -->
                <div class="d-flex justify-content-around" *ngIf="false">
                  <div>
                    <!-- Remember me -->
                    <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
                  </div>
                  <div>
                    <!-- Forgot password -->
                    <a href="">Forgot password?</a>
                  </div>
                </div>

                <!-- Sign in button -->
                <button mdbBtn outline="true" block="true" class="my-4 waves-effect z-depth-0 signInBtn" mdbWavesEffect
                        type="submit">
                  Sign in
                </button>

                <!-- Register -->
                <p>
                  Not a member?
                  <a href="">Register</a>
                </p>

              </form>
              <!-- Default form login -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
