<main>
  <div class="view" id="intro" *ngIf="!currentUser">  
    <div class="mask flex-center waves-effect waves-light rgba-stylish-strong">
     </div>  

     <div class="container h-100">  

       <div class="row align-items-center h-100">  

         <div class="col-6 mx-auto p-0">  

           <div class="card h-100  justify-content-center">  

             <h5 class="card-header unique-color white-text text-center py-4">  
               <strong>Sign in</strong>  
             </h5>  

             <div class="card-body">  
               ...card content...  
             </div>  
           </div>  

         </div>  
       </div>  
     </div>  

   </div>
</main>