.signInBtn {
    border-radius: 20px;
    color: #0099CC;
    border: 2px solid #0099CC;
}

a:link {
    color: #0000FF;
  }
  
  a:visited {
    color: #0B0080;
  }
  
  a:hover {
    color: #772233;
  }
  
  a:active {
    color: #FF0000;
  }

@media (min-width: 1200px) {
  .navbar, .page-footer, main {
    padding-left: 0
  }
}

  
