/* You can add global styles to this file, and also import other style files */

#intro {
    // background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg');
  //background-image: url('https://cdn.pixabay.com/photo/2016/01/16/01/00/blue-1142745_1280.jpg');
  background-image: url('assets/typewriter.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  html,
  body,
  main,
  .view {
    height: 100%;
  }

main {
  padding: 70px 20px 20px 20px;
}


// Media queries

@media (min-width: 1200px) {
  .navbar, .page-footer, main {
    margin-left: 270px
  }
}

@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none
  }
}

