<div #addDocumentModal="mdbModal" (onHidden)="modalOnHidden()" [config]="{backdrop: true, ignoreBackdropClick: true}"
     aria-hidden="true"
     aria-labelledby="myModalLabel" class="modal fade top"
     id="frameModalTop"
     mdbModal role="dialog"
     tabindex="-1">

  <!--Dialog-->
  <div class="modal-dialog modal-notify" role="document">

    <!--Content-->
    <div class="modal-content mb-3">

      <!--Header-->
      <div class="modal-header text-center info-color-dark">
        <h4 class="modal-title white-text  w-100 font-weight-bold py-2">Subscribe</h4>
        <button (click)="closeModal()" aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">

        <!--Form-->
        <form (ngSubmit)="onSubmit()" [formGroup]="addDocumentForm">

          <!--Title-->
          <div class="md-form">
            <input [validateSuccess]="false" class="form-control" formControlName="title" id="title" mdbInput
                   mdbValidate type="text">
            <label data-error="wrong" data-success="right" for="title">
              Nazwa
              <span class="required-field"></span>
            </label>
            <mdb-error *ngIf="title.invalid
            && (title.dirty || title.touched)">Minimalna długość: 3
            </mdb-error>
          </div>

          <!--Brief-->
          <!--Title-->
          <div class="md-form">
            <input [validateSuccess]="false" class="form-control" formControlName="brief" id="brief" mdbInput
                   mdbValidate type="text">
            <label data-error="wrong" data-success="right" for="brief">
              Krótki opis
              <span class="required-field"></span>
            </label>
            <mdb-error *ngIf="brief.invalid
            && (brief.dirty || brief.touched)">Minimalna długość: 3
            </mdb-error>
          </div>

          <!--Description-->
          <div class="md-form">
            <textarea [validateSuccess]="false" class="form-control md-textarea" formControlName="description"
                      id="description" mdbInput mdbValidate rows="3"
                      type="text"></textarea>
            <label for="description">
              Opis
            </label>
            <mdb-error *ngIf="description.invalid
            && (description.dirty || description.touched)">Maksymalna długość długość: 255
            </mdb-error>
          </div>

          <!--File-->
          <div class="md-form file-field">
            <input (change)="onFileChange($event)" id="file" name="file" style="width: 235px" type="file"/>
            <span class="required-field"></span>
          </div>

          <!-- Submit -->
          <button block="true" class="my-4 waves-effect z-depth-0 info-color-dark-button" mdbBtn mdbWavesEffect
                  outline="true"
                  type="submit">
            Sign up
          </button>

          <!--./Form-->
        </form>
      </div>
    </div>
  </div>
</div>
