<main>
  <div class="view" id="intro" *ngIf="!currentUser">
    <div class="mask flex-center waves-effect waves-light rgba-indigo-light"></div>

    <div class="container h-100">
      <div class="row align-items-center h-100">
        <div class="col-6 mx-auto p-0">
          <div class="card h-100  justify-content-center">
            <h5 class="card-header
            info-color-dark
            white-text text-center py-4">
              <strong>{{ title | translate }}</strong>
            </h5>

            <!-- Login form -->
            <div id="loginCard" class="card-body p-0" *ngIf="showLoginCard">
              <!-- Default form login -->
              <form class="text-center p-4" [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <!-- Login -->
                <div class="md-form">
                  <input type="text" id="usernameLogin" class="form-control" formControlName="username"
                         [ngClass]="{ 'is-invalid': submitted && loginFormControls.username.errors }" mdbInput/>
                  <label for="usernameLogin">{{ 'login.username' | translate }}</label>

                  <div *ngIf="submitted && loginFormControls.username.errors" class="invalid-feedback">
                    <div
                      *ngIf="loginFormControls.username.errors.required">{{ 'login.usernameRequired' | translate }}</div>
                  </div>
                </div>

                <!-- Password -->
                <div class="md-form">
                  <input type="password" id="passwordLogin" class="form-control" formControlName="password"
                         [ngClass]="{ 'is-invalid': submitted && loginFormControls.password.errors }" mdbInput/>
                  <label for="passwordLogin">{{ 'login.password' | translate }}</label>

                  <div *ngIf="submitted && loginFormControls.password.errors" class="invalid-feedback">
                    <div
                      *ngIf="loginFormControls.password.errors.required">{{ 'login.passwordRequired' | translate }}</div>
                  </div>
                </div>

                <!-- Sign in button -->
                <button block="true" class="my-4 waves-effect z-depth-0 primary-dark-outlined-button" mdbBtn
                        mdbWavesEffect
                        outline="true"
                        type="submit">
                  {{ title | translate }}
                </button>

                <!-- Register -->
                <p>
                  {{ 'login.notMember' | translate }}
                  <a (click)="onSwitchLoginAndRegisterForm()"
                     href="javascript:void(0);">{{ 'login.signUp' | translate }}</a>
                </p>
                <!-- style="color: #0000FF" -->

              </form>
              <!-- Default form login -->
            </div>

            <!-- Register form -->
            <div id="registerCard" class="card-body p-0" *ngIf="!showLoginCard">
              <!-- Default form upload -->
              <form class="text-center p-4" [formGroup]="registerForm" (ngSubmit)="onRegister()">

                <div class="md-form">
                  <input type="text" id="username" class="form-control" formControlName="username"
                         [ngClass]="{ 'is-invalid': submitted && registerFormControls.username.errors }" mdbInput/>
                  <label for="username">{{ 'login.username' | translate }}</label>

                  <div *ngIf="submitted && registerFormControls.username.errors" class="invalid-feedback">
                    <div
                      *ngIf="registerFormControls.username.errors.required">{{ 'login.usernameRequired' | translate }}</div>
                    <div *ngIf="registerFormControls.username.errors.minlength">{{ 'login.usernameMin' | translate }}
                    </div>
                  </div>
                </div>

                <!-- Password -->
                <div class="md-form">
                  <input type="password" id="password" class="form-control"
                         formControlName="password"
                         [ngClass]="{ 'is-invalid': submitted && registerFormControls.password.errors }" mdbInput/>
                  <label for="password">{{ 'login.password' | translate }}</label>

                  <div *ngIf="submitted && registerFormControls.password.errors" class="invalid-feedback">
                    <div
                      *ngIf="registerFormControls.password.errors.required">{{ 'login.passwordRequired' | translate }}</div>
                    <div
                      *ngIf="registerFormControls.password.errors.pattern">{{ 'login.passwordValidation' | translate }}
                    </div>

                  </div>
                </div>

                <!-- First name -->
                <div class="md-form">
                  <input type="text" id="firstName" class="form-control" formControlName="firstName"
                         [ngClass]="{ 'is-invalid': submitted && registerFormControls.firstName.errors }" mdbInput
                         required/>
                  <label for="firstName">{{ 'login.firstName' | translate }}</label>

                  <div *ngIf="submitted && registerFormControls.firstName.errors" class="invalid-feedback">
                    <div
                      *ngIf="registerFormControls.firstName.errors.required">{{ 'login.firstNameRequired' | translate }}</div>
                    <div
                      *ngIf="registerFormControls.firstName.errors.pattern">{{ 'login.firstNameValidation' | translate }}
                    </div>
                  </div>
                </div>

                <!-- Last name -->
                <div class="md-form">
                  <input type="text" id="lastName" class="form-control" formControlName="lastName"
                         [ngClass]="{ 'is-invalid': submitted && registerFormControls.lastName.errors }" mdbInput/>
                  <label for="lastName">{{ 'login.lastName' | translate }}</label>

                  <div *ngIf="submitted && registerFormControls.lastName.errors" class="invalid-feedback">
                    <div
                      *ngIf="registerFormControls.lastName.errors.required">{{ 'login.lastNameRequired' | translate }}</div>
                    <div
                      *ngIf="registerFormControls.lastName.errors.pattern">{{ 'login.lastNameValidation' | translate }}</div>
                  </div>
                </div>

                <!-- E-mail -->
                <div class="md-form">
                  <input type="email" id="email" class="form-control" formControlName="email"
                         [ngClass]="{ 'is-invalid': submitted && registerFormControls.email.errors }" mdbInput/>
                  <label for="email">{{ 'login.email' | translate }}</label>

                  <div *ngIf="submitted && registerFormControls.email.errors" class="invalid-feedback">
                    <div
                      *ngIf="registerFormControls.email.errors.required">{{ 'login.emailRequired' | translate }}</div>
                    <div *ngIf="registerFormControls.email.errors.email">{{ 'login.emailValidation' | translate }}</div>
                  </div>
                </div>

                <!-- Sign in button -->
                <button block="true" class="my-4 waves-effect z-depth-0 primary-dark-outlined-button" mdbBtn
                        mdbWavesEffect
                        outline="true"
                        type="submit">
                  {{ 'login.signIn' | translate }}
                </button>

                <p>
                  {{ 'login.isMember' | translate }}
                  <a (click)="onSwitchLoginAndRegisterForm()"
                     href="javascript:void(0);">{{ 'login.signIn' | translate }}</a>
                </p>

              </form>
              <!-- Default form upload -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
