<!--Main Navigation-->
<header>

  <!-- Sidebar -->
  <div class=" sidebar-fixed position-fixed" id="sidebar">

    <!--<a class="logo-wrapper waves-effect">-->
    <!--<img alt="" class="img-fluid rounded" src="../../../../assets/profile-placeholder.png">-->
    <!--</a>-->
    <div class=" list-group list-group-flush">

      <!--Documents-->

      <h5 class="list-group-item-title menu-section-header">Dokumenty</h5>

      <a class="list-group-item list-group-item-action waves-effect" href="" routerLink="/home"
         routerLinkActive="active">
        <mdb-icon class="mr-3" fas icon="folder-open"></mdb-icon>Wszystkie
      </a>

      <a class="list-group-item list-group-item-action waves-effect " href="#" routerLink="#"
         routerLinkActive="active">
        <mdb-icon class="mr-3" fas icon="star"></mdb-icon>Ulubione
      </a>

      <a class="list-group-item list-group-item-action waves-effect " href="#" routerLink="#"
         routerLinkActive="active">
        <mdb-icon class="mr-3" fas icon="user"></mdb-icon>Własne
      </a>

      <a class="list-group-item list-group-item-action waves-effect " href="#" routerLink="#"
         routerLinkActive="active">
        <mdb-icon class="mr-3" fas icon="history"></mdb-icon>Rejestr zdarzeń
      </a>

      <a class="list-group-item list-group-item-action waves-effect" href="#" routerLink="#"
         routerLinkActive="active">
        <mdb-icon class="mr-3" fas icon="plus"></mdb-icon>Utwórz nowy
      </a>

      <!--/Documents-->

      <!--Tickets-->
      <h5 class="list-group-item-title menu-section-header">Zgłoszenia</h5>

      <a class="list-group-item list-group-item-action waves-effect" href="#" routerLink="#"
         routerLinkActive="active">
        <mdb-icon class="mr-3" fas icon="hourglass-half"></mdb-icon>Otwarte
      </a>

      <a class="list-group-item list-group-item-action waves-effect" href="#" routerLink="#"
         routerLinkActive="active">
        <mdb-icon class="mr-3" fas icon="receipt"></mdb-icon>Historia
      </a>

      <a class="list-group-item list-group-item-action waves-effect" href="#" routerLink="#"
         routerLinkActive="active">
        <mdb-icon class="mr-3" fas icon="bullhorn"></mdb-icon>Zgłoś problem
      </a>
      <!--/Tickets-->

      <!--Tickets-->
      <h5 class="list-group-item-title menu-section-header">Użytkownicy</h5>

      <a class="list-group-item list-group-item-action waves-effect" href="#" routerLink="#"
         routerLinkActive="active">
        <mdb-icon class="mr-3" fas icon="hourglass-half"></mdb-icon>Przeglądaj
      </a>

      <a class="list-group-item list-group-item-action waves-effect" href="#" routerLink="#"
         routerLinkActive="active">
        <mdb-icon class="mr-3" fas icon="receipt"></mdb-icon>Zablokowani
      </a>

      <a class="list-group-item list-group-item-action waves-effect" href="#" routerLink="#"
         routerLinkActive="active">
        <mdb-icon class="mr-3" fas icon="bullhorn"></mdb-icon>Powiadom
      </a>
      <!--/Tickets-->
    </div>

  </div>
  <!-- Sidebar -->

  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light fixed-top stylish-color-dark" [containerInside]="false">

    <!-- Navbar brand -->
    <logo class="ml-5">
      <a class="navbar-brand" href="">
        <strong class="white-text" id="logo-text">RESTful DMS</strong>
      </a>
    </logo>

    <!-- Collapsible content -->
    <links class="justify-content-end">
      <!-- Links -->
      <!-- todo: tutaj umieścić nawigację boczną -->

      <!--<ul class="navbar-nav mr-auto">-->
      <!--<li class="nav-item active">-->
      <!--<a class="nav-link" mdbWavesEffect>Home-->
      <!--<span class="sr-only">(current)</span>-->
      <!--</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
      <!--<a class="nav-link" href="" mdbWavesEffect target="_blank">1</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
      <!--<a class="nav-link" href="" mdbWavesEffect target="_blank">2</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
      <!--<a class="nav-link" href="" mdbWavesEffect target="_blank">3</a>-->

      <!--</li>-->
      <!--</ul>-->
      <!-- Links -->

      <!-- Icons -->
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link text-white">1
            <mdb-icon fas icon="envelope"></mdb-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <div class="btn-group" mdbDropdown>
              <mdb-icon class="text-white nav-icon" fas icon="user" mdbDropdownToggle></mdb-icon>
              <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                <a class="dropdown-item" href="#">Twój profil</a>
                <a class="dropdown-item" href="#">Ustawienia</a>
                <a class="dropdown-item" href="#">Pomoc</a>
                <div class="divider dropdown-divider"></div>
                <a (click)="logout()" class="dropdown-item" href="javascript:void(0)">Wyloguj</a>
              </div>
            </div>
          </a>
        </li>
      </ul>

      <!-- Icons -->
    </links>
  </mdb-navbar>
  <!--/.Navbar-->

</header>
<!--Main Navigation-->
