<!--Main Navigation-->
<header>

  <!-- Sidebar -->
  <div class="sidebar-fixed position-fixed" id="sidebar">

    <!--<a class="logo-wrapper waves-effect">-->
    <!--<img alt="" class="img-fluid rounded" src="../../../../assets/profile-placeholder.png">-->
    <!--</a>-->
    <div class="list-group list-group-flush">

      <h5 class="list-group-item-title">Dokumenty</h5>

      <a class="list-group-item list-group-item-action waves-effect" href="/home" routerLink="/home"
         routerLinkActive="active">
        <mdb-icon class="mr-3" fas icon="chart-pie"></mdb-icon>Wszystkie
      </a>
      <a class="list-group-item list-group-item-action waves-effect " routerLink="profiles/profile1"
         routerLinkActive="active">
        <mdb-icon class="mr-3" fas icon="user"></mdb-icon>Własne
      </a>
      <a class="list-group-item list-group-item-action waves-effect " routerLink="tables/table1"
         routerLinkActive="active">
        <mdb-icon class="mr-3" fas icon="table"></mdb-icon>Tables
      </a>
      <a class="list-group-item list-group-item-action waves-effect " routerLink="maps/map1" routerLinkActive="active">
        <mdb-icon class="mr-3" far icon="map"></mdb-icon>Maps
      </a>
      <a class="list-group-item list-group-item-action waves-effect " routerLink="nonExistingPath"
         routerLinkActive="active">
        <mdb-icon class="mr-3" fas icon="exclamation"></mdb-icon>404
      </a>

    </div>

  </div>
  <!-- Sidebar -->

  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light fixed-top stylish-color-dark" [containerInside]="false">

    <!-- Navbar brand -->
    <logo class="ml-5">
      <a class="navbar-brand" href="">
        <strong class="white-text" id="logo-text">RESTful DMS</strong>
      </a>
    </logo>

    <!-- Collapsible content -->
    <links class="justify-content-end">

      <!-- Links -->
      <!-- todo: tutaj umieścić nawigację boczną -->

      <!--<ul class="navbar-nav mr-auto">-->
      <!--<li class="nav-item active">-->
      <!--<a class="nav-link" mdbWavesEffect>Home-->
      <!--<span class="sr-only">(current)</span>-->
      <!--</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
      <!--<a class="nav-link" href="" mdbWavesEffect target="_blank">1</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
      <!--<a class="nav-link" href="" mdbWavesEffect target="_blank">2</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
      <!--<a class="nav-link" href="" mdbWavesEffect target="_blank">3</a>-->

      <!--</li>-->
      <!--</ul>-->
      <!-- Links -->

      <!-- Search form -->
      <ul class="navbar-nav nav-flex-icons">
        <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="" mdbWavesEffect target="_blank">dfdf-->
        <!--</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="" mdbWavesEffect target="_blank">-->
        <!--</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
        <!--<a class="nav-link border border-light" href=""-->
        <!--mdbWavesEffect target="_blank">-->
        <!--<mdb-icon class="mr-2" fab icon=""></mdb-icon>test-->
        <!--</a>-->
        <!--</li>-->
        <li class="nav-item">
          <a (click)="logout()" class="nav-link border border-light rounded white-text p-2" href="javascript:void(0)"
                                mdbWavesEffect>
            <mdb-icon class="pl-0 white-text" fas icon="sign-out-alt"></mdb-icon>
            <strong>Wyloguj</strong>
          </a>
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->

  </mdb-navbar>
  <!--/.Navbar-->

</header>
<!--Main Navigation-->
